table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.stock-true {
    color: green;
}

.stock-false {
    color: red;
}

.delete-btn,
.edit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-btn {
    background-color: red;
}

.edit-btn {
    background-color: blue;
}